{% extends 'base.html' %}

{% block title %}
마포보훈회관
{% endblock %} 

{% block menu_title %}
로그인
{% endblock %}



{% block content %}



<div class="container" style="height: 4em;"></div>

<div class="container px-5" >

   <main class="form-signin px-5 ">
  <form method="post" action="">
      {% csrf_token %}
   
    <h1 class="h3 mb-3 fw-normal">로그인 하여 주세요 !</h1>
    <div class="container" style="height: 0.5em;"></div>

   
    {{ form.username }}
    <div class="container" style="height: 1em;"></div>

    
    {{ form.password }}
    <div class="container" style="height: 1.5em;"></div>
          
    <button class="w-100 pt-2 btn"
    style = "height: 2.8em; font-size: 1em; background-color: #609ab6; color:white;"  type="submit">로그인</button>
    <div class="container" style="height: 0.5em;"></div>
    {% if form.errors %}
    <p class ="text-center" style="color:red; ">아이디, 비밀번호가 일치하지 않습니다. 다시 시도해주세요.</p>
    {% endif %}
    
  </form>
</main>

</div>
</div>



{% endblock %}