
{% extends 'base.html' %}

{% block title %}
마포보훈회관 / 회원관리
{% endblock %} 

{% block menu_title %}
회원관리 / 회원정보수정
{% endblock %}

{% block menu1 %}
active
{% endblock %}


{% block content %}


<div style=" height: 0.5em;"></div>

       
    
     <div style=" height: 0.5em;"></div>

    <form action="" method="post" id="frm" >
        {% csrf_token %}
         <input name="pk" type="hidden" value="{{ member.id }}" />    

    
    
    <div class="row mx-1">
        <h2>회원정보 </h2>
        <div style=" height: 0.5em;"></div>

        <div class="col-3">
            <div class=" mb-1 ">
                이름
              
                {{ form.name }}
            </div>
        </div>

        <div class="col-3">
            <div class=" mb-1 ">
                생년월일
                {{ form.birth_date }}
            </div>
        </div>

        <div class="col-3">
            <div class=" mb-1 ">대상구분
                {{ form.group_type }}
            </div>
        </div>


        <div class="col-3">
            <div class=" mb-3 ">
                핸드폰번호
                {{ form.mobile }}
            </div>
        </div>

        <div class="col-6">
            <div class=" mb-3 ">
                주소
                {{ form.address }}
            </div>
        </div>

        <div class="col-3">
            <div class=" mb-3 ">
                우편번호
                {{ form.postal }}
            </div>
        </div>

        <div class="col-3">
            <div class=" mb-3 ">
                전화번호
                {{ form.tel }}
            </div>
        </div>

       

        <div class="col-3">
            <div class=" mb-3 ">
                보훈번호
                {{ form.bohoon_num }}
            </div>
        </div>

        <div class="col-3">
            <div class=" mb-3 ">
                수권자
                {{ form.yoo_gong_ja_name }}
            </div>
        </div>
        
        <div class="col-3">
            <div class=" mb-3 ">
                관계
                {{ form.yoo_gong_ja_rel }}
            </div>
        </div>
        

        <div class="col-3">
            <div class=" mb-3 ">
                전입일자
                {{ form.import_date }}
            </div>
        </div>

        <div class="col-6">
            <div class=" mb-3 ">
                메모
                {{ form.memo }}
            </div>
        </div>
       
        <div class="col-3">
            <div class=" mb-3 " stlye=" color:red; " >
               삭제요청
                {{ form.pre_deleted }}
            </div>
        </div>

        <div style=" height: 1em;"></div>


        <div class="col-12 "> 
              <button class="btn btn-primary w-100 " onclick="update_confirm()"
              style = "height: 2.8em; font-size: 1.2em; background-color: #609ab6; color:white;">회원 정보 수정</button>
        </div>
        
        {% if form.errors %}
            <p class ="text-center" style="color:red; ">올바르지 않은 항목이 있습니다. 다시 시도해주세요.</p>
            {% endif %}
            
            

    </div>


  
 



</form>
    
</div> 


<script>
    function update_confirm() {

        if(confirm("회원정보를 수정하시겠습니다. ?")==false){
                    return;}

                    document.getElementByid('frm').submit();

      }

    




</script>


{% endblock  %}

